<Layouts.app flash={@flash}>
  <.header>
    New Topic
    <:subtitle>Use this form to manage topic records in your database.</:subtitle>
  </.header>

  <.topic_form changeset={@changeset} action={~p"/topics"} return_to={~p"/topics"} />
</Layouts.app>
