<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title default="MyApp">
      {assigns[:page_title]}
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Coming+Soon&family=Handjet:wght,ELSH@100..900,2&display=swap" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>

  <body>
    {@inner_content}
  </body>
</html>

